.slideshow-home {
  height: 500px;
  width: 940px;
  border-bottom: 1px solid #CCC;
  position: relative;
}
.slideshow-home .frame {
  width: 940px;
  height: 500px;
}
.slideshow-home img {
  max-width: 530px;
  float: left;
}
.slideshow-home .content-right {
  float: left;
  margin-top: 80px;
}
.slideshow-home .item {
  height: 500px;
  width: 940px;
}
.home-sections ul li {
  float: left;
  display: block;
  list-style: none;
  width: 220px;
  height: 35px;
  border: 1px solid #F3F3F3;
}
