#pragma once

#ifdef __cplusplus
extern "C" \{
#endif

{{ for item in class_elements }}
bool {header}_{item.flag_name}();

{{ if for_test }}
void set_{header}_{item.flag_name}(bool val);
{{ -endif }}
{{ endfor - }}

{{ if for_test }}
void {header}_reset_flags();
{{ -endif }}

#ifdef __cplusplus
}
#endif
