#include "{header}_c.h"
#include "{header}.h"

{{ for item in class_elements}}
bool {header}_{item.flag_name}() \{
    return {cpp_namespace}::{item.flag_name}();
}

{{ if for_test }}
void set_{header}_{item.flag_name}(bool val) \{
    {cpp_namespace}::{item.flag_name}(val);
}
{{ -endif }}
{{ endfor -}}

{{ if for_test }}
void {header}_reset_flags() \{
     {cpp_namespace}::reset_flags();
}
{{ -endif }}
