package {package_name};

public final class Flags \{
    {{- for item in class_elements}}
    public static final String FLAG_{item.flag_name_constant_suffix} = "{item.device_config_flag}";
    {{- endfor }}
    {{ for item in class_elements}}
    public static boolean {item.method_name}() \{
        return FEATURE_FLAGS.{item.method_name}();
    }
    {{ endfor }}
    private static FeatureFlags FEATURE_FLAGS = new FeatureFlagsImpl();

}
